.responsive {
  width: 98%;
  height: auto;
}

figure {
  margin-top: 30px;
}
figure figcaption {
  text-align: center;
}
footer {
  text-align: center;
}
section {
  max-width: 100ch;
  margin: auto;
}

ul.schedule {
  columns: 2;
  list-style-type: none; /* Remove bullets */
  padding: 3; /* Remove padding */
  margin: 0; /* Remove margins */
  background-color: white;
  border: 1px dashed black;
}

@media screen and (max-width: 500px) {
  ul.schedule {
    columns: 1;
  }
}
