.responsive {
  width: 98%;
  height: auto;
}

figure {
  margin-top: 30px;
}
figure figcaption {
  text-align: center;
}
footer {
  text-align: center;
}
section {
  max-width: 100ch;
  margin: auto;
  
}
