

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
  height: 100%;
  padding: 10px 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
